<div class="column">
  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title main">
                Create a Task.
              </h1>
        <h2 class="subtitle main">
                Create a task below.
              </h2>
      </div>
    </div>
  </section>
  <section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Task Description</label>
                <div class="control">
                  <textarea placeholder="task_description" class="textarea" rows="4" id="task-description"></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">Due Date</label>
                <div class="control">
                  <input id="date" class="input" type="date">
                </div>
              </div>
              <div class="field">
                <label class="label">Points</label>
                <div class="control">
                  <input id="points" class="input" type="text" placeholder="Points">
                </div>
              </div>
              <button id="submit-task" type="submit" class="button is-link">Submit</button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>
