<div class="column">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title main">
                Create a Group.
              </h1>
            <h2 class="subtitle main">
                Welcome to CHORE-US. Enter your new group name below.
              </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                  <div class="field">
                    <label class="label">Group Name</label>
                    <div class="control">
                      <input id="group-name" class="input" type="text" placeholder="Group Name">
                    </div>
                  </div>
                  <button id="submit-group" type="submit" class="button is-link">Create</button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
