 <div class="column">
  <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                Hello, Roomie.
              </h1>
            <h2 class="subtitle">
                Create or Sign up for chores below.
              </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">NUMBER</p>
              <p class="subtitle">Available Tasks</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">NUMBER</p>
              <p class="subtitle">Completed Chores</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">NUMBER</p>
              <p class="subtitle">Unassigned Chores</p>
            </article>
          </div>

           </div>
      </section>

      <div class="columns">
        <div class="column is-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Leaderboard
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                    <tr>
                      <td width="5%"><i class="fa fa-user-o "></i></td>
                      <td>Max T.</td>
                      <td><a class="button is-small is-primary" href="#">{Score}}</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-user-o "></i></td>
                      <td>Kaitlyn S.</td>
                      <td><a class="button is-small is-primary" href="#">{Score}}</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-user-o "></i></td>
                      <td>Nick V.</td>
                      <td><a class="button is-small is-primary" href="#">{Score}}</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-user-o "></i></td>
                      <td>Edge Q.</td>
                      <td><a class="button is-small is-danger" href="#">{Score}}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>

        <div class="column is-4">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                Assigned Chores
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Trash duty}}</td>
                      <td><a class="button is-small is-danger" href="#">Incomplete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Dishes}}</td>
                      <td><a class="button is-small is-danger" href="#">Incomplete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Bathroom</td>
                      <td><a class="button is-small is-danger" href="#">Incomplete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Laundry</td>
                      <td><a class="button is-small is-danger" href="#">Incomplete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Floors Cleaned</td>
                      <td><a class="button is-small is-primary" href="#">Complete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Windors Cleaned</td>
                      <td><a class="button is-small is-primary" href="#">Complete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Pressure Wash Driveway</td>
                      <td><a class="button is-small is-primary" href="#">Complete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Kitchen Cleaned</td>
                      <td><a class="button is-small is-primary" href="#">Complete</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Car Wash</td>
                      <td><a class="button is-small is-primary" href="#">Complete</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">View All</a>
            </footer>
          </div>
        </div>

                <div class="column is-4">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                Unassigned Chores
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Unassigned Task 1}}</td>
                      <td><a class="button is-small is-info" href="#">Claim</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Unassigned Task 2}}</td>
                      <td><a class="button is-small is-info" href="#">Claim</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Unassigned Task 3}}</td>
                      <td><a class="button is-small is-info" href="#">Claim</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Unassigned Task 4}}</td>
                      <td><a class="button is-small is-info" href="#">Claim</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Unassigned Task 5}}</td>
                      <td><a class="button is-small is-info" href="#">Claim</a></td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{Unassigned Task 6}}</td>
                      <td><a class="button is-small is-info" href="#">Claim</a></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">View All</a>
            </footer>
          </div>
        </div>

