<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CHORE-US</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.6.0 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>

  <section class="hero is-fullheight is-primary is-bold">
  <div class="hero-head">
    <!-- START NAV -->
    <nav class="navbar is-black">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand-text" href="/">
            CHORE-US
          </a>
          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/login">
              Login
            </a>
            <a class="navbar-item" href="/signup">
              Sign Up
            </a>

          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

  <div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
      <h1 class="title has-text-white">
        CHORE-US
      </h1>
      <h2 class="subtitle has-text-white">
         It's fun to do chores.. <br>
         if you're not the one doing all of them.
      <br>
         CHORE-US is a task management app for groups.
      </h2>
      <div class="box">
        <figure class="image is-4by3">
          <img src="https://cdn.dribbble.com/users/788099/screenshots/3124447/coworking_office_work_kit8-net.png" alt="Description">
        </figure><br>
        <p class="has-text-centered">
          <a class="button is-large is-primary is-outlined" href='/signup'>
            Sign Up
          </a>
          <a class="button is-large is-primary is-outlined" href='/login'>
            Log In
          </a>
        </p>

      </div>
    </div>
  </div>
  </section>
  <section class='hero is-primary'>
    <div class='columns'>
      <div class="column">
        <div class="hero-body is-success">
          <h2 class="has-text-white"><strong>Project 02:<br>Northwestern Bootcamp</strong></h2>
        </div>
      </div>
      <div class="column">
        <div class="hero-body is-success">
          <h2 class="has-text-white has-text-right has-text-left-mobile"><strong>Authors:</strong><br>Edge Quintanilla, Kaitlyn Strand, Max Teibel, Nick Vree</h2>
        </div>
      </div>
    </div>
  </section>
  <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script async type="text/javascript" src="js/bulma.js"></script>
</body>
</html>
