<section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                Personal Task List
              </h1>
            <h2 class="subtitle">
                See your Task List below
              </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{###}</p>
              <p class="subtitle">Score</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{###}</p>
              <p class="subtitle">Total Tasks Completed</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{###}</p>
              <p class="subtitle">Metric 3</p>
            </article>
          </div>
          <!-- <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">3.4k</p>
                <p class="subtitle">Open Orders</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">19</p>
                <p class="subtitle">Exceptions</p>
              </article>
            </div> -->
        </div>
      </section>

          <div class="columns">
        <div class="column is-12">
          <div class="card">
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                    <tr>
                      <th>Task</th>
                      <th>Due Date</th>
                      <th>Points</th>
                      <th>Completed?</th>
                    </tr>
                    <tr>
                      <td>{Task 1 Description}</td>
                      <td>{Task 1 Due Date}</td>
                      <td>{Task 1 Points}</td>
                      <td><a class="button is-small is-primary" href="#">Completed!</a></td>
                    </tr>
                    <tr>
                      <td>{Task 2 Description}</td>
                      <td>{Task 2 Due Date}</td>
                      <td>{Task 2 Points}</td>
                      <td><a class="button is-small is-primary" href="#">Completed!</a></td>
                    </tr>
                    <tr>
                      <td>{Task 3 Description}</td>
                      <td>{Task 3 Due Date}</td>
                      <td>{Task 3 Points}</td>
                      <td><a class="button is-small is-primary" href="#">Completed!</a></td>
                    </tr>
                    <tr>
                      <td>{Task 4 Description}</td>
                      <td>{Task 4 Due Date}</td>
                      <td>{Task 4 Points}</td>
                      <td><a class="button is-small is-primary" href="#">Completed!</a></td>
                    </tr>
                    <tr>
                      <td>{Task 5 Description}</td>
                      <td>{Task 5 Due Date}</td>
                      <td>{Task 5 Points}</td>
                      <td><a class="button is-small is-primary" href="#">Completed!</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>


                  </tbody>
                </table>
 <!--              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">View All</a>
            </footer>
          </div>
        </div> -->


          <!--   <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  User Search
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input is-large" type="text" placeholder="">
                    <span class="icon is-medium is-left">
                      <i class="fa fa-search"></i>
                    </span>
                    <span class="icon is-medium is-right">
                      <i class="fa fa-check"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
    </div>
